<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Schematic</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'schematic/main.css' %}" />
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.__SCHEMA_API_URL__ = "{% url 'schematic:schema-api' %}";
    </script>
    <script type="module" src="{% static 'schematic/main.js' %}"></script>
  </body>
</html>
